services:
  backend:
    build: ./backend  # 使用本地构建的 backend 服务
    env_file:
      - "variables.env"
    deploy:
      mode: replicated
      replicas: 1
    # 移除 ports 映射，因为现在通过 Docker 内部网络让 NPM 访问
    networks:
      - app-network
      - npm_network # 将后端服务加入 NPM 所在的网络

  frontend:
    build: ./frontend  # 使用本地构建的 frontend 服务
    deploy:
      mode: replicated
      replicas: 1
    environment:
      # CRITICAL: 修改 API URL 为相对路径，以便NPM可以正确转发并解决跨域问题
      - VITE_API_BASE_URL=/api
    # 移除 ports 映射，因为现在通过 Docker 内部网络让 NPM 访问
    networks:
      - app-network
      - npm_network # 将前端服务加入 NPM 所在的网络

networks:
  app-network:
    driver: bridge
  npm_network:
    external: true
    # !!!重要：请将这里的名称替换为你实际查到的 NPM 的网络名称!!!
    # 比如 docker network ls 查到的是 my-proxy_default，就填那个
    name: nginx_proxy_manager_default 
